<a href="/project/{{id}}">
    <section class="project_card">
        <div>Name: {{name}}</div>
        <div>Description: {{description}}</div>
        <div>Date Created: {{format_time date_created}}</div>
        <div>Needed Funding: {{needed_funding}}</div>
    </section>
</a>